<%- include('partials/header') %>
		<div class="container my-5">
			<div class="d-lg-flex flex justify-content-between">
				<div class="col-sm-0 col-lg-2 text-center"></div>
				<div class="col-sm-12 col-lg-8 text-center">
					<i class="fas fa-check home-icon main-purple mb-3"></i>
					<h3><%= count %></h3>
				</div>
				<div class="col-sm-0 col-lg-2 text-center"></div>
			</div>
		</div>

		<script src="/scripts/index.js"></script>
<%- include('partials/footer') %>
